<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>153478141113-440bl8s3mv05s5j1m9b7csmi76b7onc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153478141113-440bl8s3mv05s5j1m9b7csmi76b7onc2</string>
	<key>API_KEY</key>
	<string>AIzaSyAPXwW_Kcxw9l6co9nHqvG1CzBRleNK_-c</string>
	<key>GCM_SENDER_ID</key>
	<string>153478141113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>platfrom.testVer1</string>
	<key>PROJECT_ID</key>
	<string>cody-test-and</string>
	<key>STORAGE_BUCKET</key>
	<string>cody-test-and.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153478141113:ios:6eba9b5f0cee146f</string>
	<key>DATABASE_URL</key>
	<string>https://cody-test-and.firebaseio.com</string>
</dict>
</plist>