html, body {
  /* padding-top: 5vh; */
  /* padding-bottom: 10vh; */
  height: 100%;
}

#header_wrapper {
  width: 100%;
  height: 10vh;
  color: #8B9BCE;
  background: #ffffff;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  z-index: 2012;
}

#back_btn_wrapper {
  padding-top: 2vh;
  padding-right: 5vw;
  float: left;
}

.page_title_wrapper {
  padding-top: 2vh;
  padding-right: 5vh;
  text-align: center;
}

#progressbar_wrapper {
  width: 100%;
  position: fixed;
  background: #ffffff;
  top: 10vh;
  z-index: 2012;
}

#progressbar {
  width: 100%;
  background-color: #EEEEEE;
}

#progress_size {
  width: 0;
  height: 1vh;
  background-color: #8B9BCE;
}

.percent_20 {
  text-align: center;
  width: 20%;
}

#personal_information_wrapper {
  padding-top: 20vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* style_profile_size_1 css*/
.size_wrapper {
  margin-left: 3vw;
  margin-right: 3vw;
  height: 5vh;
  margin-bottom: 5vh;
}

.info_question {
  line-height: 5vh;
  height: 100%;
}

.select-wrapper {
  float: right;
  margin-right: 8vw;
  width: 30vw;
  height: 100%
}

.select-wrapper input.select-dropdown {
  border: 1px solid #8B9BCE;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  height: 100%;
  margin: 0;
  color: #8B9BCE;
}

.dropdown-content {
  border: 1px solid #8B9BCE;
  color: #8B9BCE;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #8B9BCE;
}

.caret {
  right: 5% !important;
}

.measure {
  position: absolute;
  top: 25%;
  right: 1%;
  height: 100%;
}

.margin5vh {
  margin-top: 5vh;
}

.footer_wrapper {
  position: relative;
  width: 100%;
  bottom: 0;
}

.btn_long {
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  background-color: #8B9BCE;
}
