body {
  /* padding-top: 5vh; */
  /* padding-bottom: 10vh; */
}

#header_wrapper {
  width: 100%;
  height: 7vh;
  color: #8B9BCE;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  z-index: 2012;
}

#back_btn_wrapper {
  padding-top: 2vh;
  padding-right: 5vw;
  float: left;
}

.page_title_wrapper {
  padding-top: 2vh;
  padding-right: 9vh;
  text-align: center;
}

#progressbar_wrapper {
  width: 100%;
  position: fixed;
  top: 7vh;;
  z-index: 2012;
}

#progressbar {
  width: 100%;
  background-color: #EEEEEE;
  margin-top: 3vh;
}

#progress_size {
  width: 0;
  height: 1vh;
  background-color: #8B9BCE;
}

/* style_profile_start */
#start_container {
  padding-top: 30vh;
  text-align: center;
}

.style_profile_start_content {
  font-size: 2rem;
}

.select_sex_content {
  color: #EEEEEE;
}

.select_sex_btn_container {
  padding: 10vw;
}

.sex_btn {
  float: left;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  margin: 5vw;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid #EEEEEE;
  color: #EEEEEE;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.sex_btn_content_container {
  text-align: center;
  position: relative;
  top: 8vw;
}

/* style_profile_1 css */
.style_profile_content {
  font-size: 2rem;
}

.select_btn_container {
  padding: 10vw;
  height: 50vw;
}

.versus {
  float: left;
  padding-top: 15vw;
  color: #EEEEEE;
  padding-left: 2vw;
  padding-right: 2vw;
}

.select_btn {
  float: left;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  font-size: 1.2rem;
  margin: 3vw;
  background-color: transparent;
  border: 2px solid #EEEEEE;
  color: #EEEEEE;
  line-height: 30vw;
  box-shadow: none;
  -webkit-box-shadow: none;
}





.contents_container {
  padding-top: 5vh;
  text-align: center;
}

.appraisal_count {
  font-size: 4rem;
}

#preference_img {
  width: 100%;
  height: 50vh;
  margin-bottom: 3vh;
}

.star_container {
  font-size: 2rem !important;
}

/* [class*="star_grade"] {
  margin: 1vw;
  cursor: pointer;
} */

.star_btn {
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #8B9BCE;
}

/* preference_style_step_1_finish css */

#finish_container {
  padding-top: 30vh;
  text-align: center;
}

.preference_style_step1_finish_content {
  font-size: 3rem;
}

.footer_wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.btn_long {
  width: 100%;
  height: 10vh;
  line-height: 10vh;
}
