* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#header_wrapper {
  position: fixed;
  /* height: 13vh; */
  width: 100%;
  height: 13vh;
  background: #ffffff;
  z-index: 1;
}

.logo_container {
  text-align: center;
  padding-top: 20px;
}

.tabs .tab a {
  font-size: 0.9em !important;
  color: #000000 !important;
}
.tabs .tab a:hover, .tabs .tab a.active {
  color: #8b9bce !important;
}

.tabs .indicator {
  background-color: #8b9bce !important;
}

.menu_icon {
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 10px;
}

.logout {
  cursor: pointer;
}

.carousel {
  height: 100% !important;
}

.carousel .carousel-item {
  width: 100% !important;
  height: 100% !important;
}

[id^='test-swipe'] {
  overflow-y: auto;
}

/* .side-nav {
  background: rgba(0,0,0,0.5);
} */

.some_margin_top {
  margin-top: 20%;
}

.no_margin {
  margin: 0;
}

#main_wrap {
  /* padding-top: 1vh; */
  padding-top: 13vh;
  /* height: calc(100vh - 90px); */
  /* height: 100vh; */
}

.float_left {
  float: left;
}

.modal {
  text-align: center;
  padding-top: 30vh !important;
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.modal-content {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 5vw;
  margin-right: 5vw;
}

.modal_btn {
  cursor: pointer;
  padding-top: 4vw;
}

.btn_long {
	display: block;
	margin: 0 auto;
	width: 70%;
  height: 10%;
	line-height: 75px;
  text-align: center;
	margin-bottom: 30px;
}
