body {
  padding-bottom: 15%;
}

#header_wrapper {
  width: 100%;
  height: 7vh;
  /* background: rgba(112, 153, 35, 0.5); */
  font-size: 1.3em;
  position: fixed;
  top: 0;
  z-index: 2012;
}

#back_btn_wrapper {
  padding-top: 2vh;
  float: left;
}

.page_title_wrapper {
  padding-top: 2vh;
  padding-right: 4vh;
  text-align: center;
}

#goods_wrapper {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
}

.big_height {
	height: 200px;
}

.some_bottom_padding {
  padding-bottom: 10%;
}

.row .col {
  padding: 5px;
}

.style_img .grade {
	position: relative;
	top: 60%;
	right: 5%;
	font-size: 4rem;
	text-align: right;
	font-family: 'Archivo Black', sans-serif;
}

.pro_info_wrap {
	height: 50px;
	margin-top: 5px;
}

.img_wrap {
	height: 50px;
	vertical-align: middle;
}

.dont_margin {
	margin-bottom: 0px;
}

.btn_long {
	display: block;
	margin: 0 auto;
	width: 100%;
  height: 10%;
	line-height: 75px;
  text-align: center;
}

.fixed-action-btn {
  /* right: 5ch */
  bottom: 15vh;
}

.footer_wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}
