.default-blue {
  background-color: #8B9BCE !important;
}

.default-blue-text {
  color : #8B9BCE !important;
}

.bold-blue {
  background-color: #5F68B0 !important;
}

.bold-blue-text {
  color: #5F68B0 !important;
}
