body {
  /* padding-bottom: 15%; */
}

#header_wrapper {
  width: 100%;
  height: 10vh;
  background: #FFFFFF;
  font-size: 1.3em;
  position: fixed;
  color: #8B9BCE;
  top: 0;
  z-index: 2012;
}

#back_btn_wrapper {
  padding-top: 3vh;
  padding-right: 4vw;
  float: left;
  cursor: pointer;
}


.page_title_wrapper {
  padding-top: 3vh;
  padding-right: 5vh;
  text-align: center;
}

#goods_container {
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.goods_wrapper {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 40vw;
  cursor: pointer;
  background: #EEEEEE;
}

.goods_image {
  width: 40vw;
  height: 100%;
  float: left;
}

.goods_image img {
  width: 100%;
  height: 100%;
}

.goods_content {
  float: right;
  margin-left: 1vw;
  width: 59vw;
  height: 100%;
}

.big_height {
	height: 200px;
}

.question_checkmark {
  position: absolute;
  right: 0;
  width: 10vw !important;
  height: 10vw !important;
  display: none;
}

.some_bottom_padding {
  padding-bottom: 10vh;
}

.row .col {
  padding: 5px;
}

.style_img .grade {
	position: relative;
	top: 60%;
	right: 5%;
	font-size: 4rem;
	text-align: right;
	font-family: 'Archivo Black', sans-serif;
}

.pro_info_wrap {
	height: 50px;
	margin-top: 5px;
}

.img_wrap {
	height: 50px;
	vertical-align: middle;
}

.dont_margin {
	margin-bottom: 0px;
}

.btn_long {
	display: block;
	margin: 0 auto;
	width: 100%;
  height: 10%;
	line-height: 75px;
  text-align: center;
}

.fixed-action-btn {
  /* right: 5ch */
  bottom: 10vh;
}

.footer_wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}
