body {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#header_wrapper {
  width: 100%;
  height: 7vh;
  background: rgba(212, 53, 235, 0.5);
  font-size: 1.3rem;
  position: fixed;
  top: 0;
}

#back_btn_wrapper {
  padding-top: 2vh;
  float: left;
}

.page_title_wrapper {
  padding-top: 2vh;
  padding-right: 4vh;
  text-align: center;
}

#progressbar_wrapper {
  width: 100%;
  position: fixed;
  top: 7vh;;
}

#progressbar {
  width: 100%;
  background-color: grey;
}

#progress_size {
  width: 20%;
  height: 1vh;
  background-color: blue;
}

.percent_20 {
  text-align: center;
  width: 20%;
}

#personal_information_wrapper {
  padding-left: 5vh;
  padding-right: 5vh;
}

.info_question {
  font-size: 1.4rem;
}

/* input color */
.input-field input[type=text] {
  border: 1px solid #880e4f;
}
/* label color */
.input-field label {
  color: #3e2723;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border: 1px solid #880e4f !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.input_address {
  margin-bottom: 10px !important;
}

.btn_long {
	display: block;
	margin: 0 auto;
	width: 100%;
  height: 7vh;
  line-height: 7vh;
  text-align: center;
}

.footer_wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}

#agree {
  padding: 3vh;
  background: #9e9e9e;
}

#agree .agree_title {
  font-size: 1.17rem;
}

#agree .agree_contents {
  margin-top: 2vh;
  font-size: 0.9rem;
}
